html
  head
    title Pillars
    link(rel="stylesheet", type="text/css", href="pillars.css")

  body
    include eg/top-toolbar

    div.sliding-drawer
      div.drawer
        h3 Content
        ul
          li
            a(href='#') Pages
          li
            a(href='#') Blog Posts
          li
            a(href='#') Custom Page

      div.sliding-drawer-content
        div.row.w960
          div.c.s12
            h1.large Welcome to Pillars.
            p Pillars is an HTML/CSS UI framework written in Stylus.

        include eg/toolbar

        include eg/text
        include eg/textarea

        include eg/button

        include eg/checkbox
        include eg/radio
        include eg/select

        include eg/typo

        include eg/buttons-grid

    script(src='vendors/jquery-1.9.0.min.js')
    script(src='vendors/hashgrid.js')
