@import 'vendors/fontawesome/css/font-awesome.css';
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 48px;
  line-height: 64px;
  margin: 0 0 8px 0;
  font-family: sans-serif;
}
h1.large {
  font-size: 64px;
  line-height: 96px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
h2 {
  font-size: 32px;
  line-height: 72px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
h3 {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 16px 0;
  font-family: sans-serif;
}
h4 {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 -8px 0;
  font-family: sans-serif;
  font-weight: bold;
}
h5 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
h6 {
  font-size: 12px;
  line-height: 24px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
}
.row {
  clear: both;
  width: 100%;
  margin: 0 auto;
}
.row .c {
  margin: 0;
  float: left;
}
.row .c.s1 {
  width: 8.333333333333334%;
}
.row .c.s2 {
  width: 16.666666666666668%;
}
.row .c.s3 {
  width: 25%;
}
.row .c.s4 {
  width: 33.333333333333336%;
}
.row .c.s5 {
  width: 41.66666666666667%;
}
.row .c.s6 {
  width: 50%;
}
.row .c.s7 {
  width: 58.333333333333336%;
}
.row .c.s8 {
  width: 66.66666666666667%;
}
.row .c.s9 {
  width: 75%;
}
.row .c.s10 {
  width: 83.33333333333334%;
}
.row .c.s11 {
  width: 91.66666666666667%;
}
.row .c.s12 {
  width: 100%;
}
.row.w960 {
  clear: both;
  width: 960px;
  margin: 0 auto;
}
.row.w960 .row {
  clear: both;
  width: 100%;
  margin: 0 auto;
}
.row.w960 .row .c {
  margin: 0;
  float: left;
}
.row.w960 .row .c.s1 {
  width: 8.333333333333334%;
}
.row.w960 .row .c.s2 {
  width: 16.666666666666668%;
}
.row.w960 .row .c.s3 {
  width: 25%;
}
.row.w960 .row .c.s4 {
  width: 33.333333333333336%;
}
.row.w960 .row .c.s5 {
  width: 41.66666666666667%;
}
.row.w960 .row .c.s6 {
  width: 50%;
}
.row.w960 .row .c.s7 {
  width: 58.333333333333336%;
}
.row.w960 .row .c.s8 {
  width: 66.66666666666667%;
}
.row.w960 .row .c.s9 {
  width: 75%;
}
.row.w960 .row .c.s10 {
  width: 83.33333333333334%;
}
.row.w960 .row .c.s11 {
  width: 91.66666666666667%;
}
.row.w960 .row .c.s12 {
  width: 100%;
}
.row.w960 .c {
  margin: 0 8px;
  float: left;
}
.row.w960 .c.s1 {
  width: 64px;
}
.row.w960 .c.s2 {
  width: 144px;
}
.row.w960 .c.s3 {
  width: 224px;
}
.row.w960 .c.s4 {
  width: 304px;
}
.row.w960 .c.s5 {
  width: 384px;
}
.row.w960 .c.s6 {
  width: 464px;
}
.row.w960 .c.s7 {
  width: 544px;
}
.row.w960 .c.s8 {
  width: 624px;
}
.row.w960 .c.s9 {
  width: 704px;
}
.row.w960 .c.s10 {
  width: 784px;
}
.row.w960 .c.s11 {
  width: 864px;
}
.row.w960 .c.s12 {
  width: 944px;
}
@media screen and (max-width: 960px) {
  .row.w960 {
    clear: both;
    width: 98%;
    margin: 0 auto;
  }
  .row.w960 .c {
    margin: 0;
    float: left;
  }
  .row.w960 .c.s1 {
    width: 8.166666666666666%;
  }
  .row.w960 .c.s2 {
    width: 16.333333333333332%;
  }
  .row.w960 .c.s3 {
    width: 24.5%;
  }
  .row.w960 .c.s4 {
    width: 32.666666666666664%;
  }
  .row.w960 .c.s5 {
    width: 40.83333333333333%;
  }
  .row.w960 .c.s6 {
    width: 49%;
  }
  .row.w960 .c.s7 {
    width: 57.166666666666664%;
  }
  .row.w960 .c.s8 {
    width: 65.33333333333333%;
  }
  .row.w960 .c.s9 {
    width: 73.5%;
  }
  .row.w960 .c.s10 {
    width: 81.66666666666666%;
  }
  .row.w960 .c.s11 {
    width: 89.83333333333333%;
  }
  .row.w960 .c.s12 {
    width: 98%;
  }
}
.row.w1200 {
  clear: both;
  width: 1200px;
  margin: 0 auto;
}
.row.w1200 .row {
  clear: both;
  width: 100%;
  margin: 0 auto;
}
.row.w1200 .row .c {
  margin: 0;
  float: left;
}
.row.w1200 .row .c.s1 {
  width: 8.333333333333334%;
}
.row.w1200 .row .c.s2 {
  width: 16.666666666666668%;
}
.row.w1200 .row .c.s3 {
  width: 25%;
}
.row.w1200 .row .c.s4 {
  width: 33.333333333333336%;
}
.row.w1200 .row .c.s5 {
  width: 41.66666666666667%;
}
.row.w1200 .row .c.s6 {
  width: 50%;
}
.row.w1200 .row .c.s7 {
  width: 58.333333333333336%;
}
.row.w1200 .row .c.s8 {
  width: 66.66666666666667%;
}
.row.w1200 .row .c.s9 {
  width: 75%;
}
.row.w1200 .row .c.s10 {
  width: 83.33333333333334%;
}
.row.w1200 .row .c.s11 {
  width: 91.66666666666667%;
}
.row.w1200 .row .c.s12 {
  width: 100%;
}
.row.w1200 .c {
  margin: 0 8px;
  float: left;
}
.row.w1200 .c.s1 {
  width: 84px;
}
.row.w1200 .c.s2 {
  width: 184px;
}
.row.w1200 .c.s3 {
  width: 284px;
}
.row.w1200 .c.s4 {
  width: 384px;
}
.row.w1200 .c.s5 {
  width: 484px;
}
.row.w1200 .c.s6 {
  width: 584px;
}
.row.w1200 .c.s7 {
  width: 684px;
}
.row.w1200 .c.s8 {
  width: 784px;
}
.row.w1200 .c.s9 {
  width: 884px;
}
.row.w1200 .c.s10 {
  width: 984px;
}
.row.w1200 .c.s11 {
  width: 1084px;
}
.row.w1200 .c.s12 {
  width: 1184px;
}
@media screen and (max-width: 1200px) {
  .row.w1200 {
    clear: both;
    width: 98%;
    margin: 0 auto;
  }
  .row.w1200 .c {
    margin: 0;
    float: left;
  }
  .row.w1200 .c.s1 {
    width: 8.166666666666666%;
  }
  .row.w1200 .c.s2 {
    width: 16.333333333333332%;
  }
  .row.w1200 .c.s3 {
    width: 24.5%;
  }
  .row.w1200 .c.s4 {
    width: 32.666666666666664%;
  }
  .row.w1200 .c.s5 {
    width: 40.83333333333333%;
  }
  .row.w1200 .c.s6 {
    width: 49%;
  }
  .row.w1200 .c.s7 {
    width: 57.166666666666664%;
  }
  .row.w1200 .c.s8 {
    width: 65.33333333333333%;
  }
  .row.w1200 .c.s9 {
    width: 73.5%;
  }
  .row.w1200 .c.s10 {
    width: 81.66666666666666%;
  }
  .row.w1200 .c.s11 {
    width: 89.83333333333333%;
  }
  .row.w1200 .c.s12 {
    width: 98%;
  }
}
@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  .row .c {
    clear: both;
  }
  .row .c.s1,
  .row .c.s2,
  .row .c.s3,
  .row .c.s4,
  .row .c.s5,
  .row .c.s6,
  .row .c.s7,
  .row .c.s8,
  .row .c.s9,
  .row .c.s10,
  .row .c.s11,
  .row .c.s12 {
    width: 100% !important;
  }
}
ul {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  list-style-type: none;
}
ul li {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  line-height: 24px;
  margin: 0;
}
ul li:before {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 0;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  content: '\f054';
  margin: 0 12px 0 0;
}
ol {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  padding: 0 0 0 20px;
}
ol li {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  margin: 0;
}
dl dt {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 -8px 0;
  font-family: sans-serif;
  font-weight: bold;
}
dl dd {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
}
input.text {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  width: 100%;
  border: 1px solid #bbb;
  padding: 0;
  text-indent: 12px;
  height: 36px;
  margin-bottom: 12px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #f4f4f4));
  background: -webkit-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: linear-gradient(top, #eee 0%, #f4f4f4 100%);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.15);
  border-radius: 3px;
}
input.text:focus {
  outline: none;
  border: 2px solid #39ace6;
  box-shadow: inset 1px 1px 6px rgba(0,0,0,0.35), 0 0 8px rgba(57,172,230,0.5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #fff));
  background: -webkit-linear-gradient(top, #eee 0%, #fff 100%);
  background: -moz-linear-gradient(top, #eee 0%, #fff 100%);
  background: -o-linear-gradient(top, #eee 0%, #fff 100%);
  background: -ms-linear-gradient(top, #eee 0%, #fff 100%);
  background: linear-gradient(top, #eee 0%, #fff 100%);
}
input.text::-webkit-input-placeholder {
  font-style: italic;
}
input.text:-moz-placeholder {
  font-style: italic;
}
input.text::-moz-placeholder {
  font-style: italic;
}
input.text:-ms-input-placeholder {
  font-style: italic;
}
h1 {
  font-size: 48px;
  line-height: 64px;
  margin: 0 0 8px 0;
  font-family: sans-serif;
}
h1.large {
  font-size: 64px;
  line-height: 96px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
h2 {
  font-size: 32px;
  line-height: 72px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
h3 {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 16px 0;
  font-family: sans-serif;
}
h4 {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 -8px 0;
  font-family: sans-serif;
  font-weight: bold;
}
h5 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
h6 {
  font-size: 12px;
  line-height: 24px;
  margin: 0 0 0px 0;
  font-family: sans-serif;
}
p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
}
.button {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 24px;
  padding: 11px 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #777));
  background: -webkit-linear-gradient(top, #ccc 0%, #777 100%);
  background: -moz-linear-gradient(top, #ccc 0%, #777 100%);
  background: -o-linear-gradient(top, #ccc 0%, #777 100%);
  background: -ms-linear-gradient(top, #ccc 0%, #777 100%);
  background: linear-gradient(top, #ccc 0%, #777 100%);
  -webkit-box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-align: center;
  cursor: pointer;
}
.button:link,
.button:visited,
.button:hover,
.button:active {
  color: #000;
  text-decoration: none;
}
.button:active {
  border: 1px solid #555;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #777));
  background: -webkit-linear-gradient(top, #aaa 0%, #777 100%);
  background: -moz-linear-gradient(top, #aaa 0%, #777 100%);
  background: -o-linear-gradient(top, #aaa 0%, #777 100%);
  background: -ms-linear-gradient(top, #aaa 0%, #777 100%);
  background: linear-gradient(top, #aaa 0%, #777 100%);
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.25), inset 1px 1px 6px rgba(0,0,0,0.25);
  box-shadow: -1px -1px 2px rgba(0,0,0,0.25), inset 1px 1px 6px rgba(0,0,0,0.25);
}
.button:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25), 0 0 8px rgba(57,172,230,0.5);
  box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25), 0 0 8px rgba(57,172,230,0.5);
}
button.button {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 24px;
  padding: 11px 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #777));
  background: -webkit-linear-gradient(top, #ccc 0%, #777 100%);
  background: -moz-linear-gradient(top, #ccc 0%, #777 100%);
  background: -o-linear-gradient(top, #ccc 0%, #777 100%);
  background: -ms-linear-gradient(top, #ccc 0%, #777 100%);
  background: linear-gradient(top, #ccc 0%, #777 100%);
  -webkit-box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-align: center;
  cursor: pointer;
  width: 100%;
}
button.button:link,
button.button:visited,
button.button:hover,
button.button:active {
  color: #000;
  text-decoration: none;
}
button.button:active {
  border: 1px solid #555;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #777));
  background: -webkit-linear-gradient(top, #aaa 0%, #777 100%);
  background: -moz-linear-gradient(top, #aaa 0%, #777 100%);
  background: -o-linear-gradient(top, #aaa 0%, #777 100%);
  background: -ms-linear-gradient(top, #aaa 0%, #777 100%);
  background: linear-gradient(top, #aaa 0%, #777 100%);
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.25), inset 1px 1px 6px rgba(0,0,0,0.25);
  box-shadow: -1px -1px 2px rgba(0,0,0,0.25), inset 1px 1px 6px rgba(0,0,0,0.25);
}
button.button:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25), 0 0 8px rgba(57,172,230,0.5);
  box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25), 0 0 8px rgba(57,172,230,0.5);
}
a.button {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 24px;
  padding: 11px 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #777));
  background: -webkit-linear-gradient(top, #ccc 0%, #777 100%);
  background: -moz-linear-gradient(top, #ccc 0%, #777 100%);
  background: -o-linear-gradient(top, #ccc 0%, #777 100%);
  background: -ms-linear-gradient(top, #ccc 0%, #777 100%);
  background: linear-gradient(top, #ccc 0%, #777 100%);
  -webkit-box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-align: center;
  cursor: pointer;
  padding: 4px 8px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  color: #000;
  text-decoration: none;
}
a.button:active {
  border: 1px solid #555;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #777));
  background: -webkit-linear-gradient(top, #aaa 0%, #777 100%);
  background: -moz-linear-gradient(top, #aaa 0%, #777 100%);
  background: -o-linear-gradient(top, #aaa 0%, #777 100%);
  background: -ms-linear-gradient(top, #aaa 0%, #777 100%);
  background: linear-gradient(top, #aaa 0%, #777 100%);
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.25), inset 1px 1px 6px rgba(0,0,0,0.25);
  box-shadow: -1px -1px 2px rgba(0,0,0,0.25), inset 1px 1px 6px rgba(0,0,0,0.25);
}
a.button:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25), 0 0 8px rgba(57,172,230,0.5);
  box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25), 0 0 8px rgba(57,172,230,0.5);
}
.c .row .c .button {
  margin-left: 8px;
  margin-right: 8px;
}
input.text {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  width: 100%;
  border: 1px solid #bbb;
  padding: 0;
  text-indent: 12px;
  height: 36px;
  margin-bottom: 12px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #f4f4f4));
  background: -webkit-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: linear-gradient(top, #eee 0%, #f4f4f4 100%);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.15);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.15);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input.text:focus {
  outline: none;
  border: 2px solid #39ace6;
  -webkit-box-shadow: inset 1px 1px 6px rgba(0,0,0,0.35), 0 0 8px rgba(57,172,230,0.5);
  box-shadow: inset 1px 1px 6px rgba(0,0,0,0.35), 0 0 8px rgba(57,172,230,0.5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #fff));
  background: -webkit-linear-gradient(top, #eee 0%, #fff 100%);
  background: -moz-linear-gradient(top, #eee 0%, #fff 100%);
  background: -o-linear-gradient(top, #eee 0%, #fff 100%);
  background: -ms-linear-gradient(top, #eee 0%, #fff 100%);
  background: linear-gradient(top, #eee 0%, #fff 100%);
}
input.text::-webkit-input-placeholder {
  font-style: italic;
}
input.text:-moz-placeholder {
  font-style: italic;
}
input.text::-moz-placeholder {
  font-style: italic;
}
input.text:-ms-input-placeholder {
  font-style: italic;
}
.textarea {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  width: 100%;
  height: 72px;
  border: 1px solid #bbb;
  margin: 0 0 24px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #f4f4f4));
  background: -webkit-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #eee 0%, #f4f4f4 100%);
  background: linear-gradient(top, #eee 0%, #f4f4f4 100%);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.15);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.15);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 12px;
}
.textarea:focus {
  border: 2px solid #39ace6;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 6px rgba(0,0,0,0.35), 0 0 8px rgba(57,172,230,0.5);
  box-shadow: inset 1px 1px 6px rgba(0,0,0,0.35), 0 0 8px rgba(57,172,230,0.5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #fff));
  background: -webkit-linear-gradient(top, #eee 0%, #fff 100%);
  background: -moz-linear-gradient(top, #eee 0%, #fff 100%);
  background: -o-linear-gradient(top, #eee 0%, #fff 100%);
  background: -ms-linear-gradient(top, #eee 0%, #fff 100%);
  background: linear-gradient(top, #eee 0%, #fff 100%);
}
.textarea::-webkit-input-placeholder {
  font-style: italic;
}
.textarea:-moz-placeholder {
  font-style: italic;
}
.textarea::-moz-placeholder {
  font-style: italic;
}
.textarea:-ms-input-placeholder {
  font-style: italic;
}
select.select {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  width: 100%;
  margin: 0 0 12px 0;
  height: 36px;
  padding: 6px 0 6px 11px;
  border: 1px solid #777;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #aaa));
  background: -webkit-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -o-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -ms-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: linear-gradient(top, #ddd 0%, #aaa 100%);
  -webkit-box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 3px #ddd, 1px 1px 2px rgba(0,0,0,0.25);
}
select.select:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #888));
  background: -webkit-linear-gradient(top, #ccc 0%, #888 100%);
  background: -moz-linear-gradient(top, #ccc 0%, #888 100%);
  background: -o-linear-gradient(top, #ccc 0%, #888 100%);
  background: -ms-linear-gradient(top, #ccc 0%, #888 100%);
  background: linear-gradient(top, #ccc 0%, #888 100%);
}
select.select:focus {
  outline: none;
  border: 2px solid #39ace6;
}
div.select {
  position: relative;
}
div.select select:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #aaa));
  background: -webkit-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -o-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -ms-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: linear-gradient(top, #ddd 0%, #aaa 100%);
}
div.select:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  content: '\f078';
  text-align: center;
  line-height: 36px;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 34px;
  pointer-events: none;
  border: 1px solid #777;
  border-left: 1px solid #aaa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #aaa));
  background: -webkit-linear-gradient(top, #eee 0%, #aaa 100%);
  background: -moz-linear-gradient(top, #eee 0%, #aaa 100%);
  background: -o-linear-gradient(top, #eee 0%, #aaa 100%);
  background: -ms-linear-gradient(top, #eee 0%, #aaa 100%);
  background: linear-gradient(top, #eee 0%, #aaa 100%);
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: inset 0 0 4px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 4px rgba(255,255,255,0.5);
}
label.checkbox {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  line-height: 36px;
  vertical-align: top;
  height: 36px;
  margin: 0 0 12px 0;
}
input.checkbox {
  background: #00f;
  height: 36px;
  margin: 0 8px 12px;
  padding: 0;
}
label.radio {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  line-height: 36px;
  vertical-align: top;
  height: 36px;
  margin: 0 0 12px 0;
}
input.radio {
  background: #00f;
  height: 36px;
  margin: 0 8px 12px;
  padding: 0;
}
.toolbar {
  float: left;
  width: 100%;
  border-bottom: 1px solid #aaa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #ccc));
  background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -o-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -ms-linear-gradient(top, #eee 0%, #ccc 100%);
  background: linear-gradient(top, #eee 0%, #ccc 100%);
  margin: 0 0 24px 0;
  -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 2px rgba(0,0,0,0.15);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.toolbar.flush {
  margin: 0;
}
.toolbar .toolbar-button {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-family: sans-serif;
  position: relative;
  padding: 12px 12px;
  height: 23px;
  margin: 0;
  float: left;
  border-right: 1px solid rgba(0,0,0,0.15);
  border-left: 1px solid rgba(255,255,255,0.35);
  cursor: pointer;
}
.toolbar .toolbar-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.5)), color-stop(1, rgba(255,255,255,0.15)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.15) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.15) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.15) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.15) 100%);
  background: linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.15) 100%);
}
.toolbar .toolbar-button:active {
  border-right: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 1px 1px 8px rgba(0,0,0,0.25);
  box-shadow: inset 1px 1px 8px rgba(0,0,0,0.25);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.05)), color-stop(1, rgba(0,0,0,0.1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
  background: linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 100%);
  padding: 13px 12px 11px 12px;
}
.toolbar .toolbar-button.right {
  float: right;
}
.toolbar .toolbar-button.right:last-child {
  border-left: 1px solid transparent;
}
.toolbar .toolbar-button.right:hover {
  border-left: 1px solid rgba(255,255,255,0.15);
}
.toolbar .toolbar-button.right:active {
  border-left: 1px solid rgba(0,0,0,0.25);
}
.toolbar .toolbar-button a {
  color: #000;
  text-decoration: none;
  padding: 12px;
  margin: -12px;
  float: left;
  height: 24px;
}
.toolbar .toolbar-button a:link,
.toolbar .toolbar-button a:visited,
.toolbar .toolbar-button a:hover,
.toolbar .toolbar-button a:active {
  color: #000;
  text-decoration: none;
}
.toolbar .toolbar-button a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 6px rgba(57,172,230,0.5);
  box-shadow: 0 0 6px rgba(57,172,230,0.5);
  border: 2px solid #39ace6;
  margin: -14px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.row.w960 .toolbar,
.row.w1200 .toolbar {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 46px;
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}
.row.w960 .toolbar .toolbar-button:first-child,
.row.w1200 .toolbar .toolbar-button:first-child {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.row.w960 .toolbar .toolbar-button.right,
.row.w1200 .toolbar .toolbar-button.right {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.sliding-drawer {
  position: relative;
  clear: both;
  overflow: hidden;
}
.sliding-drawer:hover .drawer {
  width: 250px;
  height: 100%;
}
.sliding-drawer:hover .sliding-drawer-content {
  margin: 0 0 0 250px;
}
.sliding-drawer .drawer {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  padding-top: 24px;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(0, #222), color-stop(1, #444));
  background: -webkit-linear-gradient(right, #222 0%, #444 100%);
  background: -moz-linear-gradient(right, #222 0%, #444 100%);
  background: -o-linear-gradient(right, #222 0%, #444 100%);
  background: -ms-linear-gradient(right, #222 0%, #444 100%);
  background: linear-gradient(right, #222 0%, #444 100%);
  -webkit-box-shadow: inset -1px 0 12px rgba(0,0,0,0.5), 0 0 3px rgba(0,0,0,0.5);
  box-shadow: inset -1px 0 12px rgba(0,0,0,0.5), 0 0 3px rgba(0,0,0,0.5);
  border-right: 1px solid #aaa;
  color: #ccc;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
.sliding-drawer .drawer ul {
  margin-left: 24px;
}
.sliding-drawer .drawer a {
  color: #000;
  text-decoration: none;
}
.sliding-drawer .drawer a:link,
.sliding-drawer .drawer a:visited,
.sliding-drawer .drawer a:hover,
.sliding-drawer .drawer a:active {
  color: #000;
  text-decoration: none;
}
.sliding-drawer .drawer a:link,
.sliding-drawer .drawer a:visited,
.sliding-drawer .drawer a:active {
  color: #ccc;
}
.sliding-drawer .drawer a:hover {
  color: #eee;
  text-decoration: underline;
}
.sliding-drawer .drawer h1,
.sliding-drawer .drawer h2,
.sliding-drawer .drawer h3,
.sliding-drawer .drawer h4,
.sliding-drawer .drawer h5,
.sliding-drawer .drawer h6 {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
  margin-left: 24px;
}
.sliding-drawer .sliding-drawer-content {
  margin: 0;
}
@media screen and (max-width: 720px) {
  label.checkbox,
  label.radio {
    line-height: 24px;
    height: 24px;
    margin: 0 0 12px 0;
  }
  input.checkbox,
  input.radio {
    margin-bottom: 12px;
    line-height: 24px;
    height: 24px;
  }
  .toolbar {
    height: 47px;
    overflow: hidden;
  }
  .toolbar:hover {
    height: auto;
    overflow: show;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
  }
  .toolbar:hover .toolbar-button {
    padding: 6px 12px;
  }
  .toolbar .toolbar-button {
    width: 100%;
    clear: both;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.35);
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  .toolbar .toolbar-button:active {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .toolbar .toolbar-button.right {
    float: left;
  }
  .toolbar .toolbar-button.right:last-child {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.35);
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  .toolbar .toolbar-button.right:hover {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.35);
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  .toolbar .toolbar-button.right:active {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .row.w960 .toolbar:hover,
  .row.w1200 .toolbar:hover {
    height: auto;
  }
}
#grid {
  width: 1960px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -980px;
/**
  * Vertical grid lines
  *
  * Set the column width taking the borders into consideration,
  * and use margins to set column gutters.
  */
/**
  * Horizontal grid lines, defined by your base line height
  *
  * Remember, the CSS properties that define the box model:
  * visible height = height + borders + margins + padding
  */
}
#grid div.horiz {
/* 24px line height */
  height: 23px;
  border-bottom: 1px dotted #a9a9a9;
  margin: 0;
  padding: 0;
}
