@import 'vendors/fontawesome/css/font-awesome.css'

@import 'lib/reset'
@import 'lib/typo'
@import 'lib/grid'
@import 'lib/list'

@import 'lib/widgets/button'
@import 'lib/widgets/text'
@import 'lib/widgets/textarea'
@import 'lib/widgets/select'
@import 'lib/widgets/checkbox'
@import 'lib/widgets/radio'

@import 'lib/toolbar'
@import 'lib/sliding-drawer'

@import 'lib/mq-fix'


#grid
  width: 1960px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 0 - (@width / 2);

  /**
  * Vertical grid lines
  *
  * Set the column width taking the borders into consideration,
  * and use margins to set column gutters.
  */
  // div.vert
  //   width: (960 / 12) - 1px;
  //   border: solid darkturquoise;
  //   border-width: 0 1px 0 0;
  //   // margin-right: 16px;

  //   &.first-line
  //     margin-left: 16px;


  /**
  * Horizontal grid lines, defined by your base line height
  *
  * Remember, the CSS properties that define the box model:
  * visible height = height + borders + margins + padding
  */
  div.horiz
    /* 24px line height */
    height: 23px;
    border-bottom: 1px dotted darkgray;
    margin: 0;
    padding: 0;

// /**
// * Classes for multiple grids
// *
// * When using more than one grid, remember to set the numberOfGrids
// * option in the hashgrid.js file.
// */
// #grid.grid-1 div.vert{
//
// /* Vertical grid line colour for grid 1 */
// border-color: darkturquoise;
//
// }
// #grid.grid-2{
//
// /* Adjustments */
// padding: 0 160px;
// width: 660px;
//
// }
// #grid.grid-2 div.vert{
//
// /* Vertical grid line colour for grid 2 */
// border-color: crimson;
//
// }
//
