row(width=960px, gutter=16px)
  clear both
  width width
  margin 0 auto

  .row
    fluid-row()

  .c
    margin 0 (gutter / 2)
    float left

    &.s1
      width ((width / 12) - gutter)
    &.s2
      width ((width / 6) - gutter)
    &.s3
      width ((width / 4) - gutter)
    &.s4
      width ((width / 3) - gutter)
    &.s5
      width ((width / 12) * 5 - gutter)
    &.s6
      width ((width / 2) - gutter)
    &.s7
      width ((width / 12) * 7 - gutter)
    &.s8
      width ((width / 12) * 8 - gutter)
    &.s9
      width ((width / 12) * 9 - gutter)
    &.s10
      width ((width / 12) * 10 - gutter)
    &.s11
      width ((width / 12) * 11 - gutter)
    &.s12
      width (width - gutter)

fluid-row(width=100%)
  clear both
  width width
  margin 0 auto

  .c
    margin 0
    float left

    &.s1
      width (width / 12)
    &.s2
      width (width / 6)
    &.s3
      width (width / 4)
    &.s4
      width (width / 3)
    &.s5
      width ((width / 12) * 5)
    &.s6
      width (width / 2)
    &.s7
      width ((width / 12) * 7)
    &.s8
      width ((width / 12) * 8)
    &.s9
      width ((width / 12) * 9)
    &.s10
      width ((width / 12) * 10)
    &.s11
      width ((width / 12) * 11)
    &.s12
      width width

.row
  fluid-row()

.row.w960
  row()

.row.w960
  @media screen and (max-width: 960px)
    fluid-row(98%)

.row.w1200
  row(1200px)

.row.w1200
  @media screen and (max-width: 1200px)
    fluid-row(98%)

@media screen and (max-width: 720px)
  // TODO: This may be a bad thing to do...
  // overflow hidden

  body
    overflow-x hidden

  .row
    .c
      clear both

      &.s1, &.s2, &.s3, &.s4, &.s5, &.s6, &.s7, &.s8, &.s9, &.s10, &.s11, &.s12
        width 100% !important
