ul
  p()

  list-style-type none

  li
    p()
    line-height baseline
    margin 0

    &:before
      p()
      font-size 10px
      line-height 0

      font-family FontAwesome
      font-weight normal
      font-style normal
      text-decoration inherit
      -webkit-font-smoothing antialiased
      content '\f054'
      margin 0 (baseline / 2) 0 0

ol
  p()

  padding 0 0 0 20px

  li
    p()
    margin 0

dl
  dt
    h4()
  dd
    p()
