@media screen and (max-width: 720px)
  // In this particular case, we're breaking the grid.
  // That's ok as everything is basically vertically stacked.
  label.checkbox, label.radio
    line-height baseline
    height baseline
    margin 0 0 baseline * 0.5 0

  input.checkbox, input.radio
    margin-bottom baseline * 0.5
    line-height baseline
    height baseline

  .toolbar
    height baseline * 2 - 1px
    overflow hidden

    &:hover
      height auto
      overflow show

      box-shadow 0 0 6px rgba(#000, 0.5)

      .toolbar-button
        padding (baseline / 4) (baseline / 2)

    .toolbar-button
      width 100%
      clear both
      border 0

      border-top 1px solid rgba(#fff, 0.35)
      border-bottom 1px solid rgba(#000, 0.15)

      &:active
        border 0
        border-top 1px solid rgba(#000, 0.20)
        border-bottom 1px solid rgba(#000, 0.25)

      &.right
        float left

        &:last-child
          border 0
          border-top 1px solid rgba(#fff, 0.35)
          border-bottom 1px solid rgba(#000, 0.15)

        &:hover
          border 0
          border-top 1px solid rgba(#fff, 0.35)
          border-bottom 1px solid rgba(#000, 0.15)

        &:active
          border 0
          border-top 1px solid rgba(#000, 0.20)
          border-bottom 1px solid rgba(#000, 0.25)

  .row.w960, .row.w1200
    .toolbar:hover
      height auto
