html, body
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6, p, ul, ol, dl
  margin 0
  padding 0

a-reset()
  color #000
  text-decoration none

  &:link, &:visited, &:hover, &:active
    color #000
    text-decoration none
