.sliding-drawer
  position relative
  clear both
  overflow hidden

  &:hover
    .drawer
      width 250px
      height 100%

    .sliding-drawer-content
      margin 0 0 0 250px

  .drawer
    position absolute
    width 0
    height 0
    overflow hidden

    padding-top baseline

    // TODO: test this in all browsers...
    top 0
    bottom 0

    background linear-gradient(right, #222, #444)
    box-shadow inset -1px 0 12px rgba(#000, 0.5), 0 0 3px rgba(#000, 0.5)
    border-right 1px solid #aaa

    color #ccc
    text-shadow 0 1px 0 rgba(#000, 0.5)

    ul
      margin-left baseline

    a
      a-reset()
      &:link, &:visited, &:active
        color #ccc
      &:hover
        color #eee
        text-decoration underline

    h1, h2, h3, h4, h5, h6
      text-shadow 0 -1px 0 rgba(#000, 0.75)
      margin-left baseline

  .sliding-drawer-content
    margin 0
