.toolbar
  float left
  width 100%

  // height baseline * 2 - 1px
  border-bottom 1px solid #aaa

  background linear-gradient(top, #eee, #ccc)
  margin 0 0 baseline 0

  &.flush
    margin 0

  box-shadow inset 0 -1px 2px rgba(#000, 0.15)

  text-shadow 0 1px 0 rgba(#fff, 0.5)

  .toolbar-button
    p()

    position relative
    padding ((baseline * 2 - line-height-regular) / 2) (baseline / 2)
    height baseline - 1px
    margin 0

    float left

    border-right 1px solid rgba(#000, 0.15)
    border-left 1px solid rgba(#fff, 0.35)

    cursor pointer

    &:hover
      background linear-gradient(top, rgba(#fff, 0.5), rgba(#fff, 0.15))

    &:active
      border-right 1px solid rgba(#000, 0.20)
      border-left 1px solid rgba(#000, 0.25)
      box-shadow inset 1px 1px 8px rgba(#000, 0.25)
      background linear-gradient(top, rgba(#000, 0.05), rgba(#000, 0.1))

      padding (((baseline * 2 - line-height-regular) / 2) + 1) (baseline / 2) (((baseline * 2 - line-height-regular) / 2) - 1) (baseline / 2)

    &.right
      // border-left 1px solid rgba(#fff, 0.15)
      float right

      &:last-child
        border-left 1px solid transparent

      &:hover
        border-left 1px solid rgba(#fff, 0.15)

      &:active
        border-left 1px solid rgba(#000, 0.25)

    a
      a-reset()

      padding (baseline / 2)
      margin 0 - (baseline / 2)
      float left
      height baseline

      &:focus
        outline none
        box-shadow 0 0 6px rgba(#39ace6, 0.5)
        border 2px solid #39ace6
        margin 0 - (baseline / 2) - 2px

        border-radius 3px

.row.w960, .row.w1200
  .toolbar
    border-radius 3px
    height baseline * 2 - 2px
    border 1px solid #ccc
    border-right 0
    border-bottom 1px solid #aaa
    box-shadow 1px 1px 3px rgba(#000, 0.25)

    .toolbar-button
      &:first-child
        border-radius 2px 0 0 2px

      &.right
        border-radius 0 2px 2px 0


