/*
 * Metrics
 */

baseline = 24px

font-size-xxx-small   = 6em
font-size-xx-small    = 8em
font-size-x-small     = 10em

font-size-small       = 12px
line-height-small     = 24px

font-size-regular     = 14px
line-height-regular   = 24px

font-size-large       = 18px
line-height-large     = 32px

font-size-x-large     = 32px
line-height-x-large   = 72px

font-size-xx-large    = 48px
line-height-xx-large  = 64px

font-size-xxx-large   = 64px
line-height-xxx-large = 96px


/*
 * Fonts
 */

font-family-regular = sans-serif


/*
 * Standard Definitions
 */

h1()
  font-size font-size-xx-large
  line-height line-height-xx-large
  margin 0 0 ((baseline * 3) - line-height-xx-large) 0
  font-family font-family-regular

  &.large
    font-size font-size-xxx-large
    line-height line-height-xxx-large
    margin 0 0 ((baseline * 4) - line-height-xxx-large) 0
    font-family font-family-regular

h1
  h1()

h2()
  font-size font-size-x-large
  line-height: line-height-x-large
  margin 0 0 ((baseline * 3) - line-height-x-large) 0
  font-family font-family-regular

h2
  h2()

h3()
  font-size font-size-large
  line-height: line-height-large
  margin 0 0 ((baseline * 2) - line-height-large) 0
  font-family font-family-regular

h3
  h3()

h4()
  font-size font-size-large
  line-height: line-height-large
  margin 0 0 (baseline - line-height-large) 0
  font-family font-family-regular
  font-weight bold

h4
  h4()

h5()
  font-size font-size-regular
  line-height: line-height-regular
  margin 0 0 (baseline - line-height-regular) 0
  font-family font-family-regular

h5
  h5()

h6()
  font-size font-size-small
  line-height: line-height-small
  margin 0 0 (baseline - line-height-small) 0
  font-family font-family-regular

h6
  h6()

p()
  font-size font-size-regular
  line-height line-height-regular
  margin 0 0 24px 0
  font-family font-family-regular

p
  p()
