@import '../../vendors/nib'
@import '../typo'

button()
  p()
  a-reset()

  font-weight bold

  margin-bottom baseline
  padding (baseline / 2) - 1px 0
  border-radius 4px
  border 1px solid #777
  background linear-gradient(top, #ccc, #777)
  box-shadow inset 0 0 3px #ddd, 1px 1px 2px rgba(#000, 0.25)
  text-shadow 0 1px 0 rgba(#fff, 0.5)
  text-align center
  cursor pointer

  &:active
    border 1px solid #555
    background linear-gradient(top, #aaa, #777)
    box-shadow -1px -1px 2px rgba(#000, 0.25), inset 1px 1px 6px rgba(#000, 0.25)

  &:focus
    outline none
    // border 2px solid #39ace6
    // margin-top 0
    // margin-bottom @margin-bottom
    box-shadow inset 0 0 3px #ddd, 1px 1px 2px rgba(#000, 0.25), 0 0 8px rgba(#39ace6, 0.5)

.button
  button()

button.button
  button()
  width 100%

a.button
  button()
  padding 4px 8px

.c
  .row
    .c
      .button
        margin-left 8px
        margin-right 8px
