label.radio
  p()

  margin 0
  padding 0
  display block
  float left

  line-height baseline * 1.5
  vertical-align top
  height baseline * 1.5
  margin 0 0 baseline * 0.5 0

input.radio
  background blue
  height baseline * 1.5
  margin 0 8px baseline * 0.5
  padding 0
