select.select
  p()

  width 100%

  margin 0 0 baseline * 0.5 0
  height baseline * 1.5
  padding (((baseline * 1.5) - line-height-regular) / 2) 0 (((baseline * 1.5) - line-height-regular) / 2) (baseline / 2) - 1px

  border 1px solid #777
  border-radius 3px
  background linear-gradient(top, #ddd, #aaa)
  box-shadow inset 0 0 3px #ddd, 1px 1px 2px rgba(#000, 0.25)

  &:active
    background linear-gradient(top, #ccc, #888)

  &:focus
    outline none
    border 2px solid #39ace6
    // margin 0 0 (baseline * 0.5) 0
    // height baseline * 1.5

div.select
  position relative

  select:active
      background linear-gradient(top, #ddd, #aaa)

  &:after
    font-family FontAwesome
    font-weight normal
    font-style normal
    text-decoration inherit
    -webkit-font-smoothing antialiased
    content '\f078'

    text-align center
    line-height baseline * 1.5
    color #444
    text-shadow 0 1px 0 rgba(#fff, 0.75)

    position absolute
    top 0
    right 0
    width 32px
    height baseline * 1.5 - 2px

    pointer-events none

    border 1px solid #777
    border-left 1px solid #aaa
    background linear-gradient(top, #eee, #aaa)
    border-radius 0 3px 3px 0
    box-shadow inset 0 0 4px rgba(#fff, 0.5)

