.textarea
  p()

  width 100%
  height baseline * 3
  border 1px solid #bbb
  margin 0 0 baseline 0

  background linear-gradient(top, #eee, #f4f4f4)
  box-shadow inset 1px 1px 3px rgba(#000, 0.15)
  border-radius 3px

  padding (baseline / 4) (baseline / 2)

  &:focus
    border 2px solid #39ace6
    outline none
    box-shadow inset 1px 1px 6px rgba(#000, 0.35), 0 0 8px rgba(#39ace6, 0.5)
    background linear-gradient(top, #eee, #fff)

  &::-webkit-input-placeholder
    font-style italic
  &:-moz-placeholder
    font-style italic
  &::-moz-placeholder
    font-style italic
  &:-ms-input-placeholder
    font-style italic
