div.row.w960
  div.c.s12
    h2 Grids
    div.row
      div.c.s12
        div.button s12
    div.row
      div.c.s1
        div.button s1
      div.c.s11
        div.button s11
    div.row
      div.c.s2
        div.button s2
      div.c.s10
        div.button s10
    div.row
      div.c.s3
        div.button s3
      div.c.s9
        div.button s9
    div.row
      div.c.s4
        div.button s4
      div.c.s8
        div.button s8
    div.row
      div.c.s5
        div.button s5
      div.c.s7
        div.button s7
    div.row
      div.c.s6
        div.button s6
      div.c.s6
        div.button s6
    div.row
      div.c.s4
        div.button s4
      div.c.s4
        div.button s4
      div.c.s4
        div.button s4
    div.row
      div.c.s3
        div.button s3
      div.c.s3
        div.button s3
      div.c.s3
        div.button s3
      div.c.s3
        div.button s3
    div.row
      div.c.s2
        div.button s2
      div.c.s2
        div.button s2
      div.c.s2
        div.button s2
      div.c.s2
        div.button s2
      div.c.s2
        div.button s2
      div.c.s2
        div.button s2
    div.row
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
      div.c.s1
        div.button s1
