div.row.w960
  div.c.s3
    label.checkbox Check me
      input(type='checkbox').checkbox
  div.c.s3
    label.checkbox
      input(type='checkbox').checkbox
      | Hello
  div.c.s3
    label.checkbox Check me
      input(type='checkbox').checkbox
  div.c.s3
    input(type='checkbox').checkbox

