div.row.w960
  div.c.s3
    label.radio Check me
      input(type='radio').radio
  div.c.s3
    label.radio
      input(type='radio').radio
      | Hello
  div.c.s3
    label.radio Check me
      input(type='radio').radio
  div.c.s3
    input(type='radio').radio

