div.row.w960
  div.c.s12
    div.select
      select.select
        option hello
        option world
div.row.w960
  div.c.s12
    select.select
      option Hello
      option World
div.row.w960
  div.c.s12
    select.select
      option Hello
      option World
