div.row.w960
  div.c.s12
    input(type='text', placeholder='Title').text
div.row.w960
  div.c.s4
    input(type='text', placeholder='First Name').text
  div.c.s4
    input(type='text', placeholder='Middle Name').text
  div.c.s4
    input(type='text', placeholder='Last Name').text

