div.row.w960
  div.c.s12
    nav.toolbar
      div.toolbar-button
        a(href='#') Hello
      div.toolbar-button
        a(href='#') World
      div.toolbar-button.right Logout
      div.toolbar-button.right Derek McTavish Mounce
