div.row
  div.c.s12
    nav.toolbar.flush
      div.toolbar-button
        a(href='#') Hello
      div.toolbar-button
        a(href='#') World
      div.toolbar-button.right Logout
      div.toolbar-button.right Derek McTavish Mounce
